<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	
    <%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            <form class="formulario" action="/users/profile" method="get">
                <label class="formulario-label" for="email">Email</label><br>
                <input class="formulario-input" type="email" id="email" name="email" required><br>
                
                <label class="formulario-label" for="password">Contraseña</label><br>
                <input class="formulario-input" type="password" name="password" id="password" required><br>
                <div class="div-recordar">
                    <label class="formulario-label" for="remember">Recordarme</label><br>
                    <input class="recordar" type="checkbox" id="remember" name="remember">

                    <button type="submit">Iniciar Sesion</button>
                </div>
                
            </form>

            <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>