<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>

	<!-- Header -->
	<% if (locals.user != undefined) {%>
			<%- include("./partials/headerLogueado") %>
		<% } else { %>
			<%-include("./partials/header") %>
		<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"></h2>
            <form class="fromulario" action="/users/profile" method="get">
                <label class="form-label" for="imagen">Imagen del Producto</label><br>
                <input class="form-input" type="file" id="imagen" name="imagen" required><br>

                <label class="form-label" for="nombre">Nombre del Producto</label><br>
                <input class="form-input" type="text" id="nombre" name="nombre" required><br>

                <label class="form-label" for="descripcion">Descripción del Producto</label><br>
                <textarea class="form-input" type="text" id="descripcion" name="descripcion" required></textarea><br>

                <button class="buy-now-button" type="submit">Agregar Producto</button>
            </form>
        </div>
    </div>
    <%- include("./partials/footer") %>
	
</body>

</html>