<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulario formulario-register" action="/users/profile" method="get">
				<label class="form-label" for="email">Email</label> <br> 
				<input class="form-input" type="email" id="email" name="email" value="" placeholder="ejemplo@gmail.com" required><br>
				<label class="form-label" for="usuario">Usuario</label> <br>
				<input class="form-input" type="text" name="usuario" id="usuario" value="" placeholder="ejemplo" required><br>
				<label class="form-label" for="password">Ingrese su nueva contraseña</label><br>
				<input class="form-input" type="text" id="password" name="password" placeholder="contraseña" ><br>
				<label class="form-label" for="birthdate">Fecha de nacimiento</label><br>
				<input class="form-input" type="date" name="birthdate" value="" required><br>
				<label class="form-label" for="document_number">Numero de documento</label><br>
				<input class="form-input" type="number" id="documento" name="documento" value="" placeholder="12345678">
				<label class="form-label" for="profile_picture">Foto de perfil</label><br>
				<input class="form-input" type="file" id="foto_de_perfil" name="foto_de_perfil"> <br>
				<a class="buy-now-button" href="/users/login">Guardar</a>
			</form> 

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>